.timers {
}

.timer-wrapper {
  max-height: 1.2rem;
  overflow-y: auto;

  /* TODO: Add custom scrollbar here */
}

.timer {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  gap: 0.25rem;
  font-size: 0.8rem;
  cursor: pointer;
}

.timer .title {
  text-align: left;
  overflow: hidden;
}

.timer .button {
  user-select: none;
}
