.timer {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.hero .title-bar,
.empty .title-bar {
  -webkit-app-region: drag;
  border: 1px solid gray;
  border-top: none;
  padding: 0 0.125rem;
  width: 8.3rem;
  font-size: 0.75rem;
  /* cursor: move; */
  user-select: none;
}

.hero .title-bar:hover,
.empty .title-bar:hover {
  background-color: hsla(var(--color-text-1), 0.65);
}

.hero .body {
  outline: none;
  margin: 0.125rem 0;
  color: hsla(var(--color-text-2), 1);
  /* text-align: left; */
  /* font-family: 'Courier', monospace; */
  font-family: 'Chivo Mono', inherit;
  font-size: 1.45rem;
  /* font-weight: bold; */
  cursor: pointer;
  user-select: none;
}
