.timer {
  display: flex;
  justify-content: center;
  gap: 1rem;
  font-size: 2rem;
}

.title-bar {
  font-size: 0.75rem;
}

.timer .hero .body {
  cursor: pointer;
  user-select: none;
}

.selected {
  display: none;
}
