.timer {
  display: flex;
  justify-content: center;
  gap: 1rem;
  font-size: 2rem;
}

.hero .title-bar {
  font-size: 0.75rem;
}

.hero .body {
  cursor: pointer;
  user-select: none;
}

.list {
  font-size: 0.9rem;
  cursor: pointer;
}

.list .btn {
  user-select: none;
}

.selected {
  display: none;
}
