/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
*/
:root {
  --example: #ccc;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  color: #ccc;
  background-color: #222;
  font-family: Tahoma, Verdana, Arial, sans-serif;
}

/* body {
} */

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
ul,
li {
  margin: 0;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.timerWrapper {
  cursor: pointer;
  user-select: none;
}

.hr-fade {
  height: 1px;
  background-image: linear-gradient(
    90deg,
    var(--color-white-fade) 10%,
    white 50%,
    var(--color-white-fade) 90%
  );
  margin: 2rem 0;
}
