/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
*/
:root {
  --example: #ccc;
  --color-white-fade: hsl(0deg 0% 93% / 0%);
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  color: #ccc;
  background-color: #222;
  font-family: Tahoma, Verdana, Arial, sans-serif;
}

/* body {} */

#root {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
ul,
li {
  margin: 0;
}

button {
  cursor: pointer;
  user-select: none;
}

.main {
  height: 100%;
  /* background-color: hsl(269deg 39% 41%); */
}

.timerWrapper {
  cursor: pointer;
  user-select: none;
}

.buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
}

.toggle-add-timer {
  font-size: 1.5rem;
}

.hr-fade {
  height: 1px;
  /* width: 100%; */
  background-image: linear-gradient(
    90deg,
    var(--color-white-fade) 24%,
    white 50%,
    var(--color-white-fade) 76%
  );
  margin: 8px 0;
}
