<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>App</title>
  </head>
  <body>
    <div id="root"></div>
  </body>
  <script>
    window.electron.ipcRenderer.once('ipc-example', (arg) => {
      // logs 'pong'
      console.log('ipc-example', arg);
    });

    window.electron.ipcRenderer.myPing('ping');
  </script>
</html>
